<div class="topBar"></div>

<ion-content *ngIf="!showOffers$" class="card-background-page">

  <ion-card ion-category *ngFor="let category of categories$">
    <div (click)="getOffers($event,category)">
    <img class="categoryImg" src="../../assets/imgs/{{category}}.png"/>
    <div class="card-title">{{category}}</div>
  </div>
  </ion-card>  
</ion-content>

 
<div>
    <img *ngIf="showOffers$" (click)="showCategories($event)" class="backBtn" src="../../assets/imgs/icon-28-512.png"/>
</div>
<ion-content *ngIf="showOffers$">
<ion-card ion-category *ngFor="let offers of offers$">
    <img class="offerImg" src="../../assets/imgs/{{offers.merchantName}}.png"/>
    <ion-card-content>
      <ion-card-title>
        {{offers.merchantName}}
        </ion-card-title>
      <p>
        {{offers.offerDescription}}
      </p>
    </ion-card-content>
  </ion-card>
  </ion-content>    